PORT=3000
DEPLOYER_PRIVATE_KEY=
ARC_CHAIN_ID=5042002
ARC_CHAIN_ID_HEX=0x4cef52
ARC_CHAIN_NAME=Arc Testnet
ARC_RPC_URL=https://rpc.testnet.arc.network
ARC_EXPLORER_URL=https://testnet.arcscan.app
USDC_ADDRESS=0x3600000000000000000000000000000000000000
USDC_DECIMALS=6
CIRCLE_WALLET_ADDRESS=YOUR_WALLET_HERE
MERCHANT_ADDRESS=YOUR_WALLET_HERE
CLAIM_VERIFIER_PRIVATE_KEY=
CLAIM_VERIFIER_ADDRESS=